*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-wrap: wrap;
}



.img-principal{
    width: 100%;
    position: relative;
}

.img-secundaria{
    width: 100%;
    position: absolute;
    width: 200px;
    top: 40%;
    left: 44%;
    
}

.button-style{
    max-width: 100%;
    position: absolute;
    width: 200px;
    top: 100%;
    left: 45%;
    border: 0;
    padding: 5px;
    font-weight: normal;
    font-size: 35px;
    color: black;
    background-color: white;

}
h1{
    position: absolute;
    top: 75%;
    left: 35%;
    color: white;
    font-size: 65px;
}



section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;

}

.title{
    position: relative;
    display: flex;
    left: -21%;
    justify-content: start;
    align-items: center;
    width:600px;
    height:50px;
    font-size: 50px;
 
}
.subtitle{
    position: relative;
    left: -20%;
    display: flex;
    justify-content: start;
    align-items: center;
    width:600px;
    height:50px;
  
}



.smallbox{
    position: relative;
    height: 250px;
    padding: 10px;
    width: 20%;

}

.mediumbox{
    position: relative;
    height: 250px;
    padding: 10px;
    width: 70%;

}

.bigbox{
    position: relative;
    height: 250px;
    padding: 10px;
    width: 90%;

}

.break {
    flex-basis: 100%;
    height: 0;
}


.box{
    display: flex;
    justify-content: baseline;
    background: red;
    width: 150px;
    height: 150px;
    margin: 5px;
   
}

.box2{
    background:blue;
    height: 50px;
    color: white;

}

.box2 h4{
    margin: 50px 2%;
}




