
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: black;
    
    
}

form div >.avatar_perfil{
    width: 200px;
    height: 200px;
    background-color: black;
}

.formulario-login{
    display: flex;
    border: 1px solid black;
    padding: 50px;
	max-width: 80%;
    margin:30px auto;
    justify-content: center;

    
}

.formulario-login{
    -webkit-box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.67);
    -moz-box-shadow:    7px 7px 8px 0px rgba(0, 0, 0, 0.67);
    box-shadow:         7px 7px 8px 0px rgba(0, 0, 0, 0.67);
}


.formulario-login input[type=text]{
	width: 49%;
	height: 50px;
	border: 2px solid black;
	margin:10px 0;
    padding-left: 10px;
    margin-left: 5px;
    
}




.formulario-login input[type=image]{
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 100%;


}
.formulario-login input[type=submit]{
    width: 49%;
	height: 50px;
	border: 2px solid black;
	margin:10px 0;
    padding-left: 10px;
    margin-left: 5px;
    background-color: rgb(23, 192, 235);
    cursor: pointer;
}
    




.formulario-login input[type=button]{
    width: 49%;
	height: 50px;
	border: 2px solid black;
	margin:10px 0;
    padding-left: 10px;
    margin-left: 5px;
    background: rgb(23, 192, 235);
    cursor: pointer;
}
    

