/*body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode, .kanji {
    background-color: black;
    color: white;
    padding: 25px;
    font-size: 25px;
    
  }
*/

body{
    background-color:#171757;
}

.box{
    width:79%;
    float: right;
    border: 2px solid white ;
    
}

.menu{
    color: white;
    border: 2px solid white;
    width: 20%;
    float: left;

}

.kanji{ 
    text-decoration: none;
    height: auto;
    border:0px solid indigo;
    font-size: 25px;
    padding: 15px ;
    text-align: justify;
    color: white;
 
}

header{
    color: white;
    text-align: center;
    border: 2px solid white;
}

@media screen and (max-width: 768px) screen and (height: 520px) {
    header{
        color: yellowgreen;
        text-align: center;
        /*border: 2px solid blue;*/
        width: 100%;
    }

    .menu{
        
        text-align:right;
        float: right;
        color: white;
        /*border: 2px solid green;*/
        width: 100%;
        
    
    }
    .box{
        text-align: justify;
        width:100%;
        float: center;
        /*border: 2px solid red ;*/
        
    }
  }

.footer{
    clear: both;
    padding: 20px 0;
    border-top: 2px solid white;
    text-align: center;
    color: white;
   
}


