*{
    font-family: Spartan;
}

@font-face {
    font-family: Spartan;
    src: url(shttps://fonts.google.com/specimen/Spartan);
}

.center{
    max-width: 1440px;
    display: flex;
}
  

h1{
      display: flex;
      justify-content: flex-start;
      color: hsl(300, 43%, 22%);
      font-size: 50px;
      max-width: 400px;
      flex-wrap: nowrap;
      padding:0 50px;
}

.texto-descricao{
      display: flex;
      justify-content: flex-start;
      font-size: 15px;
      width: 30%;
      padding:0 50px;
      flex-wrap: nowrap;
      flex-direction: row;
      
      
}

.texto-descricao-rate{
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    color: hsl(300, 43%, 22%);
    flex-wrap: nowrap;
}

.comentario{
    background: hsl(300, 43%, 22%);
    color: white;
    max-width: 30%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
   
    padding: 15px;
}

.comentario img{
    
    border-radius: 50%;
    padding: 5px;
}